.icon-question-circle {
    //font-size: 12px;
    color: $--color-primary;
    cursor: pointer;
}

.icon-image.icon-image-extend{
    //font-size: 14px;
    color: $--color-primary;
    cursor: pointer;
}
